body {
    width: 100%;
    height: 100%;
    font-family: "Droid Sans", sans-serif;
    font-weight: 700;
    color: #ffc909;
    background-color: #000;
    overflow: hidden;
}

.wrapper{
    position: absolute;
    width: 22em;
    height: 50em;
    bottom: 0;
    left: 50%;
    margin-left: -11em;
    line-height: 1.5;
    font-size: 350%;
    overflow: hidden;
    transform-origin: 50% 100%;
    transform: perspective(300px) rotateX(17deg);
}

.content{
    position: absolute;
    top: 100%;
    animation: scroll 30s linear 0s infinite;
    animation-iteration-count: infinite;
}
h1, h2{
    text-align: center;
    margin-bottom: 10vh;
}
p{
    margin-bottom: 10vh;

}
.text1{
    text-align: left;
}
.text2{
    text-align: justify;
}
@keyframes scroll {
    0% { top: 100%; }
    100% { top: 10%; }
}